@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --corZero: rgb(14, 5, 41);
  --corUm: rgb(123, 94, 234);
  --corDois: rgb(57, 62, 70);
  --corTres: rgb(0, 173, 181);
  --corQuatro: rgb(238, 238, 238);
  --corCinco: rgb(135, 133, 146);
  --space: 0 auto 20px;
  --fwBolder: 600;
  --fwNormal: 300;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f0a5f;
}

.carrossel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
  height: 630px;
  padding: 25px;
  text-align: center;
  background-color: var(--corZero);
  color: #ffffff;
  position: relative;
  margin: 150px auto 30px;
  border-radius: 25px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav span {
  height: 11px;
  width: 11px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--corUm);
  opacity: 0.2;
  transition: all 0.3s ease 0.1s;
}

.nav span.ativo {
  width: 30px;
  border-radius: 10px;
  opacity: 1;
}

.titulo {
  margin: 30px 0 20px;
}

.titulo > h2 {
  font-size: 30px;
  margin: 0;
}

.titulo > h3 {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--corUm);
  font-weight: 400;
  margin: 0;
}

.carrossel .descricao {
  font-size: 15px;
  color: var(--corCinco);
  font-weight: 500;
  width: 250px;
  height: 270px;
  margin: 0 0 30px;
}

.carrossel .imagem,
.carrossel img {
  border-radius: 12px;
}

.carrossel .imagem {
  position: absolute;
  top: 0;
  transform: translateY(-45%);
  background-color: var(--corUm);
  max-height: min-content;
}

.carrossel img {
  display: block;
  box-shadow: 0px 0px 40px 2px var(--corUm);
}

.info {
  transition: all 1s ease 0.1s;
}

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.down {
  animation: down 0.4s linear forwards;
}

.up {
  animation: up 0.4s linear forwards;
}

.fadein {
  animation: fadein 0.4s linear forwards;
}

.fadeout {
  animation: fadeout 0.4s linear forwards;
}

@keyframes up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
